nav {
    background-color:#280003; 
    display:flex;
    justify-content:flex-end;
    padding:10px;
} 

nav a {
    text-decoration:none;
    margin:5px;
    color:white;
    background-color:black;
    background-size:cover;
    transition:underline; 
}

header {
    background-image:url("https://static2.makeuseofimages.com/wp-content/uploads/2019/03/whats-coding.jpg?q=50&fit=contain&w=750&h=375&dpr=1.5");
    background-size:cover;
    height:100vh;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:0px;
    flex-direction:column;
    position:relative;
}

header * {
    position:relative;
    z-index:1;
}

header h1 {
    font-size:40px;
    margin-bottom:5px;
    margin-top:0px;
}

header p {
    margin:0;
    font-size:25px;
}

header::after {
    content:"";
    background-color:#000;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    opacity:0.7;
}

section {
    text-align:center;
    padding:20px;
}



#contact {
    background-color:#BAA898;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px;
    background-color:#EEE0CB;
}

#projects {

}


#projects img {
    max-width:100%; 
    transition:transform 0.3s ease;
}

#projects img:hover {
    transform: scale(1.1);
}


footer .fa-heart {
    color:red;
} 

footer {
    background-color:#C2847A;
    color:#eee;
    text-align:center;
    padding:10px;
}

